body {
    font-family: arial;
}

h1, h2 { 
    text-align: center;
}


.row {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-left: 35px;
    margin-bottom: 5px;
  }

.LargeColumn {
    display:flex;
    flex-direction:column;
    flex:60%;
    /*justify-content: none;*/
}

.SmallColumn {
    display:flex;
    flex-direction:column;
    flex:40%;
    /*justify-content: none;*/
}

.tooltip{
    position:absolute;
    background-color: grey;
    border: solid;
    padding: 5px;
}

.point {
    fill: rgb(177, 41, 177);
  }